/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-coverflow';


body {
  @apply bg-black text-white;
  @apply font-caviari;
}

.light body {
  @apply bg-white text-black;
  @apply font-caviari;
}

.experience-item h3,
.experience-item p,
.experience-item ul,
.experience-item li,
.hero-text p,
.hero-text h1 {
  transition: color 0.3s;
}

body.light .experience-item h3,
body.light .experience-item p,
body.light .experience-item ul,
body.light .experience-item li,
body.light .hero-text p,
body.light .hero-text h1 {
  color: black;
}

body.dark .experience-item h3,
body.dark .experience-item p,
body.dark .experience-item ul,
body.dark .experience-item li,
body.dark .hero-text p,
body.dark .hero-text h1 {
  color: white;
}

@keyframes glowing {
  0% { box-shadow: 0 0 5px #ffffff; }
  50% { box-shadow: 0 0 20px #ff00ff; }
  100% { box-shadow: 0 0 5px #ffffff; }
}

.glowing-line {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, #ff00ff, #000);
  animation: glowing 2s infinite;
  z-index: 50;
}

.highlight {
  color: #5b0080;
}
:root {
  --card-bg-color: #fff;
  --card-border-color: #000;
}

body.dark {
  --card-bg-color: #000;
  --card-border-color: #fff;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transition: transform 0.3s ease;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.75rem; /* TailwindCSS rounded-xl */
}

.swiper-slide-active {
  transform: scale(1.2);
}
